node_modules
parsers/output
out
__pycache__
to-categorise.csv
to-determine.csv
tool-results*.csv

# parsers
dist

# temp
parser-output.json
debug-output.json
cached-terms.json

# my experimental files and folders
donotcommit
data2
