node_modules
parsers/output
out
__pycache__
to-categorise.csv
to-determine.csv
tool-results.csv

# temp
parser-output.json
debug-output.json

# Uncomment this when you want to commit more repos to GitHub but I think it's better to have these locally
data