[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
porter2stemmer = "*"
pytest = "*"
openpyxl = "*"
# we're using a fork of spiral because the original is broken - see https://github.com/casics/spiral/pull/5
spiral = {editable = true, ref = "master", git = "https://github.com/cnewman/spiral"}
unidecode = "*"
jupyter = "*"
pandas = "*"
plotly = "*"
pylint = "*"
pylint-actions = "*"
nltk = "*"
pyenchant = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.10"
