# https://github.com/phishman3579/android-heart-rate-monitor
heart-rate/

# https://github.com/pH-7/Simple-Java-Calculator
calculator/

# https://github.com/nkzawa/socket.io-android-chat
chat/

# https://github.com/TheCherno/Flappy
flappy-bird/

# https://github.com/SimCoderYoutube/TinderClone
tinder-clone/

# https://github.com/attenzione/android-ColorPickerPreference
color-picker/

# https://github.com/google/guava/wiki/MathExplained
math/

# https://github.com/google/guava/wiki/StringsExplained
strings/